body {
    font-family: sans-serif;
    background-color: #eaeaea;
    margin-top: 75px;
}

.center {
    margin: auto;
    width: 60%;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.stl{
        
    display: block;
    margin: auto;
}
